<div class="title">契約書完了</div>
<div class="content">
  <%= render partial: "detail" %>
</div>
<div class="content" style="margin:10px;">
  <%= button_to "友人に共有する", sendAgreement_path(contract_id: @contract.id, passcode: @contract.passcode) %>
</div>
<div class="content" style="margin:10px;">
  <%= button_to "一覧に戻る", goBackList_path(contract_id: @contract.id, passcode: @contract.passcode) %>
</div>
