<div class="contract-area status-<%=Status.find(@contract.status_id).key %>">
  <div class="title">契約書</div>
      <%= render partial: "detail" %>
  </div>
</div>
<div class="sub-area">
  <%= render partial: "history" %>
</div>
