<div class="header">
<div class="filter-area">
</div>
</div>
<div class="list-area">
  <% @friends.each do |friend| %>
  <div class="list" onclick="edit_friend(<%=friend.id %>,`<%=friend.name %>`);">
    <div class="main">
      <%=friend.name %>
    </div>
  </div>
  <% end %>
</div>
