<div class="header">友達一覧</div>

<div class="list-area">
  <% @friends.each do |friend| %>
  <div class="list" onclick="window.location='friend?user_id=<%=friend.followee%>';">
    <div class="main">
      <%=@users.find(friend.follower).name %> -> <%=@users.find(friend.followee).name %>
    </div>
  </div>
  <% end %>
</div>
<div class="menu">
  <%= button_to '友達追加', {action: "friend_new"}, :method=>:get %>
</div>
