<div class="header">
  <div id = "friendlist-header">
    友達リスト
  </div>
</div>
<div class="list-area">
  <% @friends.each do |friend| %>
  <div class="list" onclick="edit_friend(<%=friend.id %>,`<%=friend.name %>`);">
    <div class="main">
      <%=friend.name %>
    </div>
    <div class="image-pen">
      pen
    </div>
  </div>
  <% end %>
</div>
