<div class="scrollable">
<h2>メンテナンス画面</h2>
<% if user_signed_in? %>
    <div><%=current_user.name %> としてログイン中</div>
    <%= link_to 'ログアウトする', destroy_user_session_path, method: :delete %>
<% else %>
    <div>ログインしていません。</div>
    <%= link_to "ログインする", user_line_omniauth_authorize_path %>
<% end %>
</div>
