// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// サイズ
$font-size: 4.5vw;
$form-width: 50vw;
$form-height: 15vw;
$form-radius: 1.8vw;

$header-height: 5em;

// 色彩
$color-base: #fcfcfc;
$color-base-black: #555555;
$color-base-dark: #b9b9b9;
$color-base-label: #b9b9b9;
$color-base-pale: #ffffff;
$color-main: #51a1a2;
$color-accent: #b90000;
$color-font: #777777;

$color-other-header: #555555;


html{
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $color-base;
  box-sizing: border-box;
  color: $color-font;
  font-family: sans-serif;
  font-size:$font-size;
  width: 100%;
}

//入力欄系統
input:not(.swal2-input),textarea,select{
  -webkit-appearance: none;
  background-color: $color-base-pale;
  border: 1px solid $color-base-dark;
  border-radius: $form-radius;
  box-sizing: border-box;
  color: $color-base-black;
  font-family: sans-serif;
  font-size: $font-size;
  height: $form-height;
  outline: 0;
  padding: 0.5em;
  -webkit-touch-callout:none;
  transition: 0.5s;
  width: 100%;
  &:focus{
    border-color: $color-main;
    box-shadow: 0px 0px 2px 0 $color-main;
  }
  &.filter{
    width: 50vw;
    border-radius: 0;
    background-color: $color-base;
    height: 2.5em;
  }
}

// ボタン系統
button:not(.swal2-close):not(.swal2-confirm),input[type="button"],input[type="submit"] {
  -webkit-appearance: none;
  background-color:$color-main;
  border: none;
  border-radius: $form-radius;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
  box-sizing: border-box;
  color: #ffffff;
  font-size:$font-size;
  height:$form-height;
  -webkit-touch-callout:none;
  user-select:none;
  width: 100%;
  &.sub{
    background-color: $color-base-dark;
  }
  &:disabled{
    background-color: $color-base-dark;
  }
}

div{

  &.swal2-modal{
    width: 95%;
    zoom:300%;
  }

  &.header{
    box-shadow: 0px 0px 0.5em 0 rgba(0,0,0,0.3);
    text-align: center;
    background-color: $color-other-header;
    color: $color-base;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: $header-height;
    box-sizing: border-box;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
  &.content{
    padding: 0 10vw;
  }
  &.form{
    padding: 0.5em 0;
  }
  &.list-area{
    height: 50vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    padding: $header-height 0 50vh 0;
  }

  &.history-area{
    .detail-line{
      display: flex;
      border-top : solid 1px $color-base-dark;
      padding: 3vw 0;
      &:last-child{
        border-bottom: solid 1px $color-base-dark;
      }
      .detail-label{
        width: 50%;
      }
      .detail-content{
        width: 50%;
        text-align: right;
      }
    }
  }
  &.menu{
    z-index: 100;
    width: 100%;
    background-color: $color-base;
    position: fixed;
    bottom:0;
    left: 0;
    padding:1em 10vw;
    box-sizing: border-box;
    box-shadow: 0px 0px 0.5em 0 rgba(0,0,0,0.3);
  }
  &.text{
    margin: 0.5em 0;
  }
  &.title{
    font-size: 1.5em;
    text-align: center;
  }
  &.filter-area{
    display: flex;
  }
  &.list{
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.1);
    justify-content: space-between;
    align-items: center;
    background-color: $color-base-pale;
    margin-bottom: 2px;
    display: flex;
    position: relative;
    box-sizing: border-box;

    height: 4em;
    width: 100%;
    .amount{
      font-size: 1.2em;
      text-align: right;
      width: 5em;
    }
    .main{
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      padding-right: 1.8em;
    }
    .main-content{
      flex: 1;
      font-size: 0.8em;
    }
    .checkbox{
      padding: 0 1em;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img{
        width: 2.4em;
        height: 2.4em;
      }
    }
    &::after{
      position: absolute;
      right: 0.5em;
      font-size: 0.8em;
      content: "〉";
      color: $color-base-dark;
    }
  }




  &.contract-area{
    box-shadow:2px 2px 6px 2px rgba(0,0,0,0.2);
    margin: 1em;
    padding: 10vw;
    position: relative;
    background-color: $color-base-pale;
    &::before{
      position: absolute;
      top:0;
      left: 0;
      font-size: 0.8em;
      color: $color-base-pale;
      background-color: $color-base-label;
      padding: 0.2em 1em;
    }
    &.status-UNPAID::before{
      content: "未返済";
      color: $color-base-pale;
      background-color: $color-base-label;
    }
    &.status-PAID::before{
      content: "完済";
      color: $color-base-pale;
      background-color: $color-accent;
    }
    .option{
      display: flex;
      position: absolute;
      top:10vw;
      right: 10vw;
      justify-content: flex-end;
    }

    .detail-main{
      font-size: 1.2em;
      margin: 0.5em 0;
      line-height: 2em;
    }
    .detail-sub{

    }
    .detail-line{
      display: flex;
      .detail-label{
        width: 30%;
      }
      .detail-content{
        width: 70%;
      }
    }
  }
  &.sub-area{
    margin: 1em;
    padding: 0.8em 2.2em;
  }
}

.animation-check{
  animation: show-status 0.5s;
}

@keyframes show-status {
    0% {
        transform: scale(2.5) rotateZ(-12deg);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1) rotateZ(0deg);
    }
}
